[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "content/posts/pbd/assets/canvas"]
	path = content/posts/pbd/assets/canvas
	url = https://github.com/m4dh0rs3/pbd-rs-gui.git
