<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page}}
    <main class="main">
        {{- block "main" . }}
        {{- end }}
    </main>
    {{- partialCached "footer.html" . .Type .Layout .Params }}
</body>

{{ if or .Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{ if (.Params.mermaid) }}
<script async src="https://unpkg.com/mermaid@8.2.3/dist/mermaid.min.js"></script>
{{ end }}

</html>
