.tufte {
  margin: 10% 0 0 20%;
  width: 33.33%;
  font-family: "Recursive", monospace;
}

.tufte h1 {
  margin: 0 0 10% 0;
  font-family: "Recursive-Heading", monospace;
}

@font-face {
  font-family: "Recursive-Heading";
  src: url("/fonts/Recursive_Mono_Csl_St_Extra_Bd.woff2") format('woff2');
}

@font-face {
  font-family: "Recursive";
  src: url("/fonts/Recursive_Mono_Csl_St_Regular.woff2") format('woff2');
}